/*
'****************************************************************
' Filename..: stdark.css
' Purpose...: dark theme CSS stylesheet for SkatterTools
' Version...: 2018.12.03
'****************************************************************
*/
body {
	font-family: 'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	background-color: #303030;
}

a:link    {color: #c0c0c0; text-decoration: none;}
a:visited {color: #c0c0c0; text-decoration: none;}
a:hover   {color: #2E86C1; text-decoration: underline;}
a:active  {color: darkred;}

h1,h2,h3 {
	font-family: arial,helvetica;
	color: #2E86C1;
}

.accordion {
    background-color: #303030;
    color: #eee;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    font-family: verdana;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.statbutton {
    background-color: #303030;
    color: #eee;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    font-family: verdana;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover, .statbutton:hover {
    background-color: #000;
	color: white;
}

.panel {
    padding: 0 18px;
    background-color: #343e4f;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.limenu {
	font-family: verdana;
	font-size: 11pt;
}

.limain {
	font-family: verdana;
	font-size: 10pt;
	padding: 2px;
}

.ulmenu {
	list-style: square inside; 
	margin: 1; 
	padding: 0;
}

#table1 {
    border-collapse: collapse;
    width: 100%;
    font-family: verdana,sans;
    font-size: 10pt;
}

#table1 td, #table1 th {
    border: 1px solid #ddd;
    padding: 5px;
}

#table1 tr:nth-child(even){background-color: #435168; color:#fff;}
#table1 tr:nth-child(odd){background-color: #343e4f; color:#fff;}
#table1 tr:hover {background-color: #8595b2; color: #000;}

#table1 th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    background-color: #343e4f;
    color: #fff;
}

#table2 {
    border-collapse: collapse;
    width: 100%;
    font-family: verdana,sans;
    font-size: 10pt;
}

#table2 td, #table2 th {
    border: 1px solid #ddd;
    padding: 5px;
}

#table2 th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    background-color: #343e4f;
    color: #fff;
}

#table2 tr {background-color: #343e4f; color:#fff;}

#table3 {
    border: 0;
    width: 100%;
    font-family: verdana,sans;
    font-size: 10pt;
}

#table3 td, #table3 th {
    border: none;
    padding: 5px;
}

#tabledetail {
    border-collapse: collapse;
    font-family: verdana,sans;
    font-size: 10pt;
}

#tabledetail td, #tabledetail th {
    width: 100%;
    border: 1px solid #eee;
    padding: 5px;
    color: #fff;
    background-color: #386040;
}

#tablex {
    border-collapse: collapse;
    font-family: verdana,sans;
    font-size: 10pt;
}

#tablex td, #tablex th {
    border: 1pt solid #303030;
    padding: 5px;
}

.button1 {
    padding: 5px;
    height: 32px;
    font-family: verdana;
    font-size: 10pt;
    width: 120px;
    background-color: #c0c0c0;
    border: 1px solid #ccc;
}

.button1:hover {
    background-color:#fff;
    border: 1px solid #c0c0c0;
}

.footer {
	text-align: center;
	font-family: verdana,sans;
	margin-top: 10px;
	font-size: 10pt;
	color: #c0c0c0;
}

.dyn1 {
    text-align: center;
    font-family: verdana;
    font-size: 10pt;
    background-color: #435168;
    color: #fff;
}

.dyn2 {
    text-align: center;
    font-family: verdana;
    font-size: 10pt;
    cursor: pointer;
    background-color: #2E86C1;
    color: #000;
}

.btab {
    text-align: center;
    font-family: verdana;
    font-size: 10pt;
    background-color: #435168;
    color: #fff;
    width: 120px;
}

.btab:hover {
    text-align: center;
    font-family: verdana;
    font-size: 10pt;
    cursor: pointer;
    background-color: #2E86C1;
    color: #000;
    width: 120px;
}
